<div class="notifications notificationsList active" id="notificationsList">
  <div class="notifications-nav">
    <a href="javascript:readAll()">Mark all as read</a>
    <a href="javascript:archiveAll()">Archive all</a>
  </div>
  <div class="notifications-list">
    <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Sarah');c('lastName','Hill');c('interaction','C-512.20175774');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20175774 has been assigned to you</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification priority">
      <a href="#" onclick="javascript:c('firstName','Brian');c('lastName','Phillips');c('interaction','C-512.20176730');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20176730 has been assigned to you</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Jennifer');c('lastName','Robinson');c('interaction','C-512.20174428');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20174428 has not been modified in 48 hours</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Jessica');c('lastName','Young');c('interaction','C-512.20171959');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20171959 has been reassigned</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','George');c('lastName','Stewart');c('interaction','C-512.20179063');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20179063 has been reassigned</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Linda');c('lastName','Baker');c('interaction','C-512.20178371');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20178371 has been marked as rejected</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Timothy');c('lastName','Clark');c('interaction','C-512.20178291');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20178291 has been assigned to you</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
      </div>
      <div class="notifications-notification">
      <a href="#" onclick="javascript:c('firstName','Donald');c('lastName','Lopez');c('interaction','C-512.2017862');readMark(this);load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.2017862 has been reassigned</p>
      </a>
      <a href="#" onclick="javascript:readToggle(this);" class="notifications-check">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><polyline points="1,6 7,12 18,1 "></polyline></svg>
      </a>
      <a href="#" onclick="javascript:archive(this)" class="notifications-x">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 19 14"><line class="st0" x1="3" y1="13" x2="15" y2="1"/><line class="st0" x1="3" y1="1" x2="15" y2="13"/></svg>
      </a>
    </div>
  </div>
  <div class="notifications-nav">
    <a href="javascript:toggleArchive()">Notifications Archive</a>
  </div>
</div>


<div class="notifications notificationsArchive" id="notificationsArchive">
  <div class="notifications-nav">
    <a href="javascript:toggleArchive()">Recent notifications</a>
  </div>
  <div class="notifications-list">
    <div class="notifications-notification">
      <a href="javascript:c('firstName','Sarah');c('lastName','Hill');c('interaction','C-512.20175774');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20175774 has been assigned to you</p>
      </a>
    </div>
    <div class="notifications-notification priority">
      <a href="javascript:c('firstName','Brian');c('lastName','Phillips');c('interaction','C-512.20176730');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20176730 has been assigned to you</p>
      </a>
    </div>
    <div class="notifications-notification">
      <a href="javascript:c('firstName','Jennifer');c('lastName','Robinson');c('interaction','C-512.20174428');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20174428 has not been modified in 48 hours</p>
      </a>
    </div>
    <div class="notifications-notification">
      <a href="javascript:c('firstName','Jessica');c('lastName','Young');c('interaction','C-512.20171959');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20171959 has been reassigned</p>
      </a>
    </div>
    <div class="notifications-notification">
      <a href="javascript:c('firstName','George');c('lastName','Stewart');c('interaction','C-512.20179063');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20179063 has been reassigned</p>
      </a>
    </div>
    <div class="notifications-notification">
      <a href="javascript:c('firstName','Linda');c('lastName','Baker');c('interaction','C-512.20178371');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20178371 has been marked as rejected</p>
      </a>
    </div>
    <div class="notifications-notification priority">
      <a href="javascript:c('firstName','Timothy');c('lastName','Clark');c('interaction','C-512.20178291');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.20178291 has been assigned to you</p>
      </a>
    </div>
    <div class="notifications-notification">
      <a href="javascript:c('firstName','Donald');c('lastName','Lopez');c('interaction','C-512.2017862');load('Case');">
        <div class="meta">
          <span class="priority-indicator">Priority</span>
          <time> <span class="hour">5:35pm</span> <span class="date">2/28/2018</span> </time>
        </div>
        <p>C-512.2017862 has been reassigned</p>
      </a>
    </div>
  </div>
  <div class="notifications-nav">
    <span>page</span>
    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>
    <span>…</span>
    <a href="#23">23</a>
  </div>
</div>



<div class="notifications">
  <hr>
  <h2>Due dates</h2>
  <a href="javascript:c('interaction','C-512.20171125');load('Case');" class="notifications-duedate unread">
    <p>C-512.20171125</p>
    <time>Overdue</time>
  </a>
  <a href="javascript:c('interaction','C-512.20175955');load('Case');" class="notifications-duedate unread">
    <p>C-512.20175955</p>
    <time>Today</time>
  </a>
  <a href="javascript:c('interaction','C-512.20173212');load('Case');" class="notifications-duedate">
    <p>C-512.20173212</p>
    <time>Tomorrow</time>
  </a>
  <a href="javascript:c('interaction','C-512.20171592');load('Case');" class="notifications-duedate">
    <p>C-512.20171592</p>
    <time>Tomorrow</time>
  </a>
  <a href="javascript:c('interaction','C-512.2017858');load('Case');" class="notifications-duedate">
    <p>C-512.2017858</p>
    <time class="futureDate">Tomorrow</time>
  </a>
  <a href="javascript:c('interaction','C-512.20178737');load('Case');" class="notifications-duedate">
    <p>C-512.20178737</p>
    <time class="futureDate">Tomorrow</time>
  </a>
  <a href="javascript:c('interaction','C-512.20172119');load('Case');" class="notifications-duedate">
    <p>C-512.20172119</p>
    <time class="futureDate">Tomorrow</time>
  </a>
</div>
