<div class="notification" id="notification">
  <a href="javascript:activate('sidebarRight');">
    <div class="notification-number" id="notifyNumber">
      <span>0</span> Notifications
    </div>
    <div class="notification-priority" id="priorityNumber">
      <span>0</span> Priority
    </div>
  </a>
</div>
