<div id="Case" data-tab="name">
  <div class="labels">
    <a href="javascript:closeTab(tabs.length-1);load('Profile')" class="label">Veteran</a>
    <a href="#" class="label">Medical Chart</a>
    <a href="#" class="label active">Interaction</a>
  </div>

  <div class="toolbar">
    <a href="#">Refresh</a>
    <a href="#">Change Patient</a>
    <a href="#">Close Interaction</a>
  </div>

  <div class="section-content split">
    <a class="action small" href="#">DEACTIVATE</a>
    <div class="split-static vet-info">
      <div class="vet-info-heading">
        <h3 class="small">INTERACTION: VEFT</h3>
        <h1 class="data-interaction">C-512.20170001</h1>
      </div>
      <div class="vet-info-detail">
        <div>
          <span>Call Back Number*</span>
          <span>202-555-1212</span>
        </div>
      </div>
    </div>
    <div class="split-scroll">
      <a href="#" onclick="activate(this)" class="toggle"><h2>Report of Contact</h2></a>
      <div>
        <label>Description
          <textarea rows="10"></textarea>
        </label>
        <table>
          <tr>
            <td>Method of Contact  <td>Visit            <td>Type              <td>Regular
          <tr>
            <td>Facility           <td>512-Baltamore    <td>Complexity        <td>Moderate
          <tr>
            <td>Date of Contact    <td>12/01/2017       <td>Patient Advocate  <td>Eggert, Chris
        </table>
        <h2>CONTACTING ENTITIES</h2>
        <table>
          <tr>
            <td>Contacting Entity      <td>Central Office <td>Contacting Entity Name          <td>John Jackson
          <tr>
            <td>Sub-Contacting Entity  <td>White House    <td>Contacting Entity Phone Number  <td>202-555-1212
        </table>
        <button>+ Add Contacting Entity</button>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Request Detail</h2></a>
      <div>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Request Summary</h2></a>
      <div>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Notification Summary</h2></a>
      <div>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Named Employees Summary</h2></a>
      <div>
      </div>

    </div>

    <div class="flex toolbar">
      <a href="#">Active</a>
      <a href="#">Save</a>
    </div>
  </div>
</div>
