<div id="MyWork" data-tab="My Work">
  <section>
    <div class="labels">
      <a href="#" class="label active">My Work</a>
    </div>

    <div class="section-content">

      <a href="#" onclick="activate(this)" class="toggle"><h2>VEFT Crisis Requests</h2></a>
      <div>
        <select>
          <option selected>Unassigned Crisis Requests in my Service Line(s)</option>
        </select>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Requests I am Working On</h2></a>
      <div>
        <select>
          <option selected>My Requests in Progress</option>
        </select>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Requests I am Monitoring</h2></a>
      <div>
        <select>
          <option selected>My Requests due</option>
        </select>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>My Interactions</h2></a>
      <div>
        <select>
          <option selected>My Interactions In Progress</option>
        </select>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr nid="1" class="unread" style="cursor:pointer" onclick="notifyClear(1);c('firstName','Timothy');c('lastName','Clark');c('interaction','C-512.20178291');load('Case');">
            <td style="cursor:pointer">C-512.20178291      <td style="cursor:pointer">Clark, Timothy  <td style="cursor:pointer">3819457123  <td style="cursor:pointer">VEFT               <td style="cursor:pointer">01/29/2018       <td style="cursor:pointer">02/05/2018  <td style="cursor:pointer">2          <td style="cursor:pointer">Pharmacy-544           <td style="cursor:pointer">Song, Min    <td style="cursor:pointer">Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Unassigned Requests - Available to Work</h2></a>
      <div>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Requests Others are Working</h2></a>
      <div>
        <select>
          <option selected>Requests Due in my Service Line(s)</option>
        </select>
        <table>
          <tr class="heading">
            <th>Request Number      <th>Veteran          <th>ğš‚ğš‚ğ™½        <th>Method of Contact  <th>Date of Contact  <th>Due Date    <th>Days Open  <th>Assigned Service Line  <th>Assigned PA  <th>Description
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
          <tr>
            <td>C-544.201800003-01  <td>Phillips, Brian  <td>3819457123  <td>VEFT               <td>01/29/2018       <td>02/05/2018  <td>2          <td>Pharmacy-544           <td>Song, Min    <td>Good patinet description and details about the case go here.
        </table>
      </div>

    </div>
  </section>

  <section class="mywork-notifications">
    <div class="labels">
      <a href="#" class="label active">Notifications</a>
    </div>

    <div class="section-content">
      <%= partial "partials/notifications" %>
    </div>
  </section>
</div>
