<div id="Profile" data-tab="name">
  <div class="labels">
    <a href="#" class="label active">Veteran</a>
    <a href="#" class="label">Medical Chart</a>
  </div>

  <div class="toolbar">
    <a href="#">Refresh</a>
    <a href="javascript:closeTab(tabs.length-1);load('Case');">Create interaction</a>
  </div>

  <div class="section-content split">
    <a class="action small" href="#">DEACTIVATE</a>
    <div class="split-static vet-info">
      <img class="vet-info-pic" src="images/profile.png" alt=" ">
      <div class="vet-info-heading">
        <h3 class="small">VETERAN: CONCTACT</h3>
        <h1><span class="data-lastName">Reynolds</span>, <span class="data-firstName">Gary</span></h1>
      </div>
      <div class="vet-info-detail">
        <div>
          <span>MHV</span>
          <span>--</span>
        </div>
        <div>
          <span>Sensitive Veteran</span>
          <span>NO</span>
        </div>
        <div>
          <span>Sex</span>
          <span>M</span>
        </div>
        <div>
          <span>SIGI</span>
          <span>--</span>
        </div>
      </div>
    </div>
    <div class="split-scroll">
      <a href="#" onclick="activate(this)" class="toggle"><h2>Summary</h2></a>
      <div class="flex">
        <div>
          <h4>VETERAN INFORMATION</h4>
          <table>
            <tr>
              <td>Member ID        <td>--
            <tr>
              <td>𝚂𝚂𝙽              <td><span class="id">8491838473</span>
            <tr>
              <td>Date of Birth    <td><span class="data-dobM">01</span>/<span class="data-dobD">13</span>/<span class="data-dobY">1938</span>
          </table>
        </div>
        <div>
          <h4>PHONE NUMBERS</h4>
          <table>
            <tr>
              <td>Mobile Phone     <td>--
            <tr>
              <td>Home Phone       <td>--
            <tr>
              <td>Work Phone       <td>--
            <tr>
              <td>Member ID        <td>--
          </table>
          <h4>CURRENT ADDRESS</h4>
          <table>
            <p>726 Collins Creek Lane<br>
               Palm Harbor, FL 346844<br>
               USA</p>
          </table>
        </div>
        <div>
          <h4>FACILITY INFORMATION</h4>
          <table>
            <tr>
              <td>VISN             <td>--
            <tr>
              <td>Home Facility    <td>991-VASLC4
            <tr>
              <td>Date of Birth    <td>988-DAYT20
          </table>
          <h4>TEMPORARY ADDRESS</h4>
          <table>
            <tr>
              <td>--               <td>
            <tr>
              <td>Start Date       <td>--
            <tr>
              <td>End Date         <td>--
          </table>
        </div>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Provider Informaiton</h2></a>
      <div>
        <table>
          <tr>
            <td>PACT             <td>VCCM Test Team
          <tr>
            <td>PCP              <td>Clark, Joshua
        </table>
        <table class="fancy">
          <tr>
            <th colspan="2">VCCM Test Team
          <tr>
            <th>Name             <th>Role
          <tr>
            <td>Clark, Joshua    <td>Primary Care Provider
          <tr>
            <td>Cagan, Tabitha   <td>Care Manager
          <tr>
            <td>Bain, Lichelle A <td>Clinical Associate
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Eligibility Information</h2></a>
      <div>
        <h4>ELIGIBILITY INFORMATION</h4>
        <table>
          <tr>
            <td>Primary Eligibility Code   <td>--
          <tr>
            <td>Enrollment Priority Group  <td>--
          <tr>
            <td>Patient Type               <td>Veteran
          <tr>
            <td>Service Connected          <td>No
          <tr>
            <td>SC Percent                 <td>--
          <tr>
            <td>Dental Injury              <td>--
        </table>
      </div>

      <a href="#" onclick="activate(this)" class="toggle"><h2>Request Summary</h2></a>
      <div>
        <table>
          <tr>
            <th>Request Number    <th>Service Line  <th>Service Line Email       <th>Date Created  <th>Status    <th>Date Closed  <th>Issue Code  <th>Request Description                  <th>Resolution Description
          <tr>
            <td>512.201700001-01  <td>Pharmacy      <td>pharmacy@va.gov          <td>12/1/2017     <td>Open      <td>             <td>EV01        <td>Issue 1 Issue description goes here  <td>Issue 1 Resolutions description goes here
          <tr>
            <td>512.201700001-02  <td>Medical       <td>internalmedicine@va.gov  <td>12/3/2017     <td>Closed    <td>12/4/2017    <td>EV02        <td>Issue 2 Issue description goes here  <td>Issue 2 Resolutions description goes here
        </table>
      </div>
    </div>
    <div class="flex toolbar">
      <a href="#">Active</a>
      <a href="#">Save</a>
    </div>
  </div>
</div>
