<div class="topNav">
  <h1>
    Unified Service Desk
  </h1>
  <nav>
    <a href="javascript:load('Search');">Patient Search</a>
    <a href="#">Anonymous ROC</a>
    <a href="#">Dashboard</a>
  </nav>
  <%= partial "partials/notification" %>
</div>
